---
layout: default
---
{% assign lang = site.data.languages[site.language] %}
{% include post.html %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'huiqinwang',
    repo: 'huiqinwang.github.io',
    oauth: {
        client_id: '3e92f93d8034d490f141',
        client_secret: '1a53a2e999227e21471b28f64ad9057170a79586',
    },
});
gitment.render('gitmentContainer');
</script>


